################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Exclude build from source control
/target

# Exclude eclipse files
/.project
/.classpath
